* {
    box-sizing: border-box;
}

body {
    background-color: #0F5959;
    padding-top: 100px;
    font-family: 'Concert One', cursive;
    display: grid;
  align-items: center; /* left and right */
  justify-content: center; /* up and down */
}

#container {
    width: 800px;
    background-color: #0F5959;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item-1 {
    background-color: #FFFFFF;
    grid-area: 1 / 1 / 3 / 2;
}

.item-2 {
    background-color: #F3F3F3;
    grid-area: 1 / 2 / 4 / 4;
    text-align: left;
}
.item2{
    padding-left: 10px;
    margin-top: 0px;
}
h1 {
    font-size: 18px;
    padding-left: 10px;
}
p {
    font-size: 12px;
    padding-left: 10px;
}
#occupation{
    font-size: 16px;
    padding-left: 10px;
    margin-top: 0px;
}
.item3 {
    padding-left: 10px;
    margin-top: 0px;

}

#star {
    color: gold;
}

.item4 {
    border-left: 3px solid #5ABD7A;
    height: 50px;
    padding-left: 10px;
}

h2 {
    font-size: 14px;
    padding-left: 10px;
}
.item5 {
    padding-left: 10px;
    margin-top: 20px;
}
.item6 {
    padding-left: 10px;
    margin-top: 0px;
}
.item-3 {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    background-color: #63D188;
    grid-area: 3 / 1 / 4 / 2;
    padding-right: auto;
    padding-left: 35px;
}

.item7 {
 background-color: #63D188;
}

.item8 {
    background-color: #5EBF76;
    opacity: 0.5;
}

img {
    margin: 29px;
    padding: 0%;
    
    /* object-fit: fill; */
    max-width: 60%; height: auto;
    border-radius: 50%;
    border: 5px solid #63D188;

}